// セクション・トップページ01


// 変数、ミックスイン、関数
@use "@scss/global";


.topSection01 {
  padding-block: 80px;

  &__heading {
    margin-block-end: 40px;
  }

  &__media {
    display: flex;
    flex-direction: column-reverse;

    &Figure {
      margin-block-end: 30px;
    }

    &--01 {

      .topSection01__mediaImage {
        box-shadow: 10px 10px global.$lightNavyColor;
      }
    }
  }
}
